venv/
__pycache__/
*.pyc

data/
data_raw/
spectrograms/
recordings/
evaluation_results/
images/
cries/

bin/

models/cnn_label_encoder.pkl
models/features.npy
models/labels.npy
models/pokemon_cnn.pth
models/pokemon_cry_model.pkl
models/label_encoder.pkl

.DS_Store
Thumbs.db
desktop.ini